* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

#navbar {
    display: flex;
    flex-flow: column nowrap;
    /* border:  */
}

#navbar > header {
    background-color: #2ECC71;
    color: #ffffff;
    font-size: 2.8rem;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    /* margin: 0 auto; */
}

.nav-link {
    background-color: #2C3E50;
    border: 1px solid #233240;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5em 0 0.5em 1.5em;
    width: 100%;
    text-decoration: none;
    transition: all 0.1s ease;
}

.nav-link:hover {
    background-color: #2ECC71;
}

.main-section {
    display: flex;
    flex-flow: column nowrap;
}

.main-section > header {
    font-size: 2.8rem;
    padding: 0.6em 0;
    border-bottom: 3px solid #2ECC71;
    width: 92%;
    margin: 0 auto;
}

.main-section > p {
    padding-top: 1em;
    width: 92%;
    margin: 0 auto;
}

ul {
    padding-top: 0.5em;
    width: 80%;
    margin: 0 auto;
}

ul > li {
    padding-top: 0.5em;
}

code {
    display: block;
    background-color: #BDC3C7;
    margin: 1em 0;
    white-space: pre;
}